{% extends 'base.html.twig' %}

{% block title %}Hello SubjectController!{% endblock %}

{% block body %}
<h1>{{'subject.title'|trans}}</h1>

<table class="table">
    <thead>
        <tr>
            <th>{{'subject.name'|trans}}</th>
            <th>Coef</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for s in subjects %}
            <tr>
                <td>{{s.name}}</td>
                <td>{{s.coef}}</td>
                <td>
                    <a href="{{path('subject', {'id':s.id})}}" class="btn btn-primary">
                        {{'Voir'|trans}}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'subject.empty'|trans}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>{{'subject.add'|trans}}</h2>
{{form(form)}}
{% endblock %}
