{% extends 'base.html.twig' %}

{% block title %}Hello MarkController!{% endblock %}

{% block body %}
<h1>{{'mark.title'|trans}}</h1>
<table class="table">
    <thead>
        <tr>
            <th>{{'mark.mark'|trans}}</th>
            <th>{{'subject.name'|trans}}</th>
            <th>Coef</th>
            <th>{{'mark.date'|trans}}</th>
        </tr>
    </thead>
    <tbody>
        {% set total = 0 %}
        {% set coefs = 0 %}
        {% for m in marks %}
            <tr>
                <td>{{m.mark}}</td>
                <td>{{m.subject.name}}</td>
                <td>{{m.subject.coef}}</td>
                <td>{{m.addedDate|date('d/m/Y à H:i:s')}}</td>
            </tr>

            {% set total = total + (m.mark * m.subject.coef) %}
            {% set coefs = coefs + m.subject.coef %}
        {% else %}
            <tr>
                <td colspan="4">{{'mark.empty'|trans}}</td>
            </tr>
        {% endfor %}
    </tbody>
    {% if coefs > 0 %}
        <tfoot>
            <tr>
                <td colspan="4">{{'avg'|trans}} : {{ total / coefs }}</td>
            </tr>
        </tfoot>
    {% endif %}
</table>

{% if subjects|length > 0 %}
    <h2>{{'mark.add'|trans}}</h2>
    {{form(add)}}
{% else %}
    <a href="{{path('app_subject')}}">{{'subject.add'|trans}}</a>
{% endif %}
{% endblock %}
